.header{
    width:100%;
    height:110px;
    background:rgb(83, 83, 190);
}
body{
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.logo{
    width:50%;
    padding-top:32px;
   
 }
.login{
    width:50%;
    float:right;
margin-left:120px;

 


}
.logo-text{
    font-size:45px;
    color:white;
    font-weight:bold;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left:180px;


}
.login-label{
    color:white;
    

}
.login-text{
    color:white;
    text-decoration:none;

}
.button{
    background: rgb(79, 79, 231);
    color:white;
    border-color:rgb(123, 123, 215);
    cursor:pointer;

}
.button:hover{
    background:rgb(3, 3, 139)
}

.left-section{
    width: 50%;
    float:left;
    

   
}
.right-section{
    width: 40%;
    float:right;
   
}

.main-body{
    background:linear-gradient(white,hwb(229 65% 9%));
    width:100%;
    height:570px;
}

.image{
    width: 581px;
        
}
.para1{
    
    font-weight:bold;
    font-size:21px;
   

}
.email{
    height:28px;
    width:555px;
    border-radius: 4px;
    font-size:15px;
    border-color:rgb(208, 206, 206);
    margin:10px;
}
.create{
    font-size:40px;
    font-weight:bold;
    margin:1px;

}
.easy{
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    font-weight:60px;
    margin:15px;

   
}
.first{
    height:28px;
    width:260px;
    border-radius: 4px;
    font-size:15px;
    border-color:rgb(208, 206, 206);
    margin:10px;
}
.last{
    height:28px;
    width:260px;
    border-radius: 4px;
    font-size:15px;
    border-color:rgb(208, 206, 206);
    margin:10px
}
.pass{ height:28px;
    width:555px;
    border-radius: 4px;
    font-size:15px;
    border-color:rgb(208, 206, 206);
    margin:10px;
  

}
.birth{font-size:20px;
    font-family:'Times New Roman', Times, serif;
    font-weight:60px;
    margin:15px;
   color:rgb(78, 78, 78);
   margin:10px;  
}
.day{
    border: 2px solid rgb(181, 178, 178);
  padding: 2px;
  border-radius: 8px;
}
.month{
    border: 2px solid rgb(181, 178, 178);
  padding: 2px;
  border-radius: 8px;

}
.year{
    border: 2px solid rgb(181, 178, 178);
    padding: 2px;
    border-radius: 8px;

}
.gender{
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    font-weight:60px;
    margin:15px;
   color:rgb(78, 78, 78);
   margin:10px;  
}
.gender1{
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    font-weight:bold;
    margin:15px;
   color:rgb(2, 1, 1);
   margin:10px; 

}
.last1{
    font-size:10px;
    font-family:'Times New Roman', Times, serif;
    font-weight:15px;
    color:rgb(51, 50, 50)
    
}
.sign{
    border: 1px solid rgb(6, 170, 36);
    padding: 10px;
    border-radius: 17px;
    background: rgb(46, 180, 46);
    border:green;
    font-size: 20px;
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
    

}
.page{
    color:rgb(4, 4, 196);
    text-decoration: none;
}
.footer{
    width:100%;
    height:85px;
    background:rgb(211, 211, 232);}
